.mainAdmin{
    display: grid;
    grid-template-columns: 1fr 5fr;
}
.reservations, .rooms{
    padding: 50px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    align-items: center;
    justify-content: center;
    table{
        grid-column: 1/5;
    }
}
table, th, td{
    border: 1px solid;
}
table{
    margin-top: 50px;
    border-collapse: collapse;
}
.sidebar{
    display: flex;
    align-items: center;
    flex-direction: column;
    *{
        margin-top: 100px;
    }
}
